@import './../../assets/scss/variables.scss';
/****** Start Style List ******/

.list-container {
  background-color: $white-color;
  height: 75vh;
  width: 500px;
  box-shadow: 0px 6px 15px 0px rgba(207, 211, 218, 0.35);
  position: relative;

  .date-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 25px;
    padding: 70px 50px 0;
    color: $scondary-color;

    .date {
      display: flex;
      align-items: center;

      .day {
        font-size: 42px;
        font-family: 'GothamRounded-Meduim';
        margin-right: 8px;
      }

      .details {
        display: flex;
        flex-direction: column;
        font-family: 'GothamRounded-Book';
        line-height: 18px;


        .month {
          font-weight: 600;
          text-transform: uppercase;
        }

        .year {
          opacity: 0.33;

        }
      }


    }

    .day-name {
      font-family: "MyriadPro-Regular";
      text-transform: uppercase;

    }
  }

  ul {
    height: calc(70vh - 165px);
    padding: 0 50px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: inherit;
      margin-bottom: 10px;
      padding: 15px 0;
    }
  }

  .checkbox {
    width: calc(100% - 82px);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 8px;

    .check-style {
      left: auto;
      right: 0;
    }

    input[type=checkbox]~span.text {
      width: calc(100% - 40px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 !important;
    }

  }

  .action-container {
    .action {
      display: flex;
      align-items: center;

      a {
        margin-right: 8px;

        &:last-child {
          margin-right: 0 !important;
        }
      }
    }


  }
}

/****** End List Style ******/

/****** Start List Responsive Style   ******/
@media(max-width:1600px) {
  .list-container {
    width: 400px !important;

    ul {
      padding: 0 35px !important;
      height: calc(70vh - 100px) !important;

      li {
        margin-bottom: 0 !important;
        padding: 12px 0 !important;
      }

    }

    .checkbox {
      width: calc(100% - 72px) !important;
    }

    .date-details {
      font-size: 14px !important;
      padding: 50px 35px 0 !important;
      margin-bottom: 10px !important;

      .date {
        .day {
          font-size: 28px !important;
        }
      }
    }

    .change-lang {
      width: 80px;
      height: 30px;
      font-size: 14px;

      &:hover {
        width: 90px;
      }
    }

    .slimscroll-bar,
    .slimscroll-grid {
      margin: 17.5px !important;
    }

  }
}

@media (max-width:480px) {
  .list-container {
    width: 100% !important;
    height: calc(100vh - 100px) !important;
    display: block;
    margin: auto;

    ul {
      padding: 0 15px !important;
      height: calc(90vh - 150px) !important;

    }

    .date-details {
      padding: 35px 15px 0 !important;
      font-size: 12px;
    }

    .slimscroll-bar,
    .slimscroll-grid {
      margin: 2.5px !important;
    }
  }


}

/****** End List Responsive Style  ******/

/****** Start List Arabic Style  ******/

html[dir="rtl"] {
  .list-container {
    .date-details {
      .date {
        .day {
          font-size: 42px;
          font-family: 'GothamRounded-Meduim';
          margin-right: 0 !important;
          margin-left: 8px !important;
        }

        .details {
          font-family: 'GothamRounded-Book';
          line-height: 18px;

          .month {
            font-weight: 600;
          }
        }
      }

      .day-name {
        font-family: "MyriadPro-Regular";

      }
    }

    .checkbox {
      margin-right: 0px !important;
      margin-left: 8px !important;

      .check-style {
        left: 0 !important;
        right: auto !important;
      }

      .action {

        a {
          margin-right: 0 !important;
          margin-left: 8px;

          &:last-child {
            margin-right: 8px !important;
            margin-left: 0 !important;
          }
        }
      }

    }

    .action-container {
      .action {
        a {
          margin-right: 0 !important;
          margin-left: 8px !important;

          &:last-child {
            margin-left: 0 !important;
          }
        }
      }


    }
  }
}

/****** End List Arabic Style  ******/
