<!-- start list container -->
<div class="list-container">
  <app-lang></app-lang>
  <div class="date-details">
    <div class="date">
      <span class="day">{{ dayNum }}</span>
      <div class="details">
        <span class="month">{{ month }}</span>
        <span class="year">{{ year }}</span>
      </div>
    </div>
    <div class="day-name">{{ dayName }}</div>
  </div>
  <ul slimScroll [options]="slimScrollopts">
    <li *ngFor="let item of list; let i = index">
      <div class="checkbox custom-style">
        <input type="checkbox" [checked]="item.status" disabled />
        <span class="check-style"></span>
        <span class="text">{{ item.content }}</span>
      </div>
      <div class="action-container">
        <div class="action">
          <a (click)="edit(i, item)" class="btn-icon primary"
            ><i class="la la-pencil"></i
          ></a>
          <a (click)="delete(item.id)" class="btn-icon danger">
            <i class="la la-trash"></i>
          </a>
        </div>
      </div>
    </li>
  </ul>
  <a class="btn-icon success fixed large dark" (click)="openModal()"
    ><i class="la la-plus"></i
  ></a>
</div>
<!-- End list container -->

<!-- Start modal  -->
<div class="modal" *ngIf="open">
  <div class="modal-dialog">
    <div class="modal-header">
      <h3 *ngIf="!editable">{{ "Shared.Add" | translate }}</h3>
      <h3 *ngIf="editable">{{ "Shared.Edit" | translate }}</h3>
      <a class="btn-icon defult" (click)="closeModal()"
        ><i class="la la-times"></i
      ></a>
    </div>

    <div class="modal-body">
      <form [formGroup]="form">
        <div class="form-group">
          <label *ngIf="!editable" class="label-control">{{
            "Shared.AddToDo" | translate
          }}</label>
          <label *ngIf="editable" class="label-control">{{
            "Shared.EditToDo" | translate
          }}</label>
          <input
            formControlName="content"
            id="content"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="f.content.touched && f.content.invalid"
            class="alert alert-danger"
          >
            <span class="validation error" *ngIf="f.content.errors.required">{{
              "Shared.EnterMsg" | translate
            }}</span>
          </div>
        </div>
        <div class="checkbox">
          <input
            formControlName="status"
            id="status"
            type="checkbox"
            class="form-control"
          />
          <span class="check-style"></span>
          <span class="text">{{ "Shared.Done" | translate }}</span>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="!form.valid"
        (click)="add()"
        type="button"
        class="btn"
        [ngClass]="[!editable ? 'btn-success' : 'btn-primary']"
        type="submit"
      >
        <span *ngIf="!editable"
          ><i class="la la-check"></i> {{ "Shared.Save" | translate }}</span
        >
        <span *ngIf="editable"
          ><i class="la la-pencil"></i> {{ "Shared.Edit" | translate }}</span
        >
      </button>
    </div>
  </div>
</div>
<!-- End modal  -->
