@mixin btn-color($color, $bg, $shadow) {
  color: $color;
  background-color: $bg;
  box-shadow: 0px 3px 10px 0px $shadow;
}

@mixin btn-icon-style ($radius, $width, $height, $font-size) {
  border-radius: $radius;
  width: $width;
  height: $height;
  font-size: $font-size;
  transition: color .15s ease,
    background-color .15s ease,
    border-color .15s ease,
    box-shadow .15s ease,
}

@mixin flex-center($display, $justify-content, $align-item) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-item;
}

@mixin position($pos, $top, $right, $bottom, $left, $margin) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  margin: $margin;
}

@mixin btn ($border, $min-width, $height, $radius, $font-family, $font-size, $line-height) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  padding: 0 15px;
  border: $border;
  min-width: $min-width;
  height: $height;
  border-radius: $radius;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  transition: color .15s ease,
    background-color .15s ease,
    border-color .15s ease,
    box-shadow .15s ease,
}

@mixin overlay($bg, $shadow) {
  background: $bg;
  box-shadow: 0px 6px 15px 0px $shadow;
  z-index: 999999;
  width: 100%;
  height: 100%;

}

@mixin dimintion($width, $height) {
  width: $width;
  height: $height;
}

@mixin input-check($width, $height) {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  z-index: 999;
  opacity: 0;
  margin: 0;
  padding: 0;
  display: block;
  border: 0;
  cursor: pointer;
  @include dimintion($width, $height)
}

@mixin check-style ($width, $height, $radius, $border-width) {
  @include dimintion($width, $height);
  border-radius: $radius;
  border-width: $border-width;
}
