html[dir="rtl"] {
  body {
    font-family: "JannaLT-Regular" !important;
  }

  .slimscroll-bar,
  .slimscroll-grid {
    right: auto !important;
    left: 0 !important;
  }

  .lang-container {
    left: 0;
    right: auto;

    .change-lang {
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      padding: 0 30px 0 15px;
    }
  }

  .checkbox {
    .check-style {
      left: auto !important;
      right: 0;
    }

    input[type=checkbox]~span.text {
      margin-right: 5px;
      margin-left: 0 !important;
    }
  }

  .label-control,
  .btn {
    font-family: "JannaLT-Regular";
  }
}
