$mainBg:#f0efe9;
$main-color:#3e434f;
$scondary-color:#616473;
$white-color:#fff;
$success-color:#329a6e;
$light-defult-color:#7e8299;
$light-defult-bg:#f3f6f9;
$light-primary-color:#8950fc;
$dark-primary-color:#673ab7;
$light-primary-bg:#eee5ff;
$light-danger-color:#f64e60;
$light-danger-bg:#ffe2e5;
$light-success-color:rgba(62, 192, 136, 0.8);
$light-success-bg:#c9f7f5;
$dark-success-bg:rgba(62, 192, 136, 0.8);
$overlay-bg:rgba(0, 0, 0, 0.26);
$overlay-shadow:rgba(207, 211, 218, 0.35);
$border-color:#eef0f5;
$border-shadow:#eef0f5;
$input-checked-color:#50e3a4;
$input-checked-shadow: rgba(80, 227, 164, 0.30);
