/* You can add global styles to this file, and also import other style files */
@import './assets/scss/variables.scss';
@import './assets/scss/mixin.scss';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./assets/lib/line-awasem/css/line-awesome.min.css";
@import '~ngx-toastr/toastr';

/* @font-face */
@font-face {
  font-family: "GothamRounded-Book";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/GothamRoundedBook.ttf"), url('./assets/fonts/GothamRoundedBook.eot');
}

@font-face {
  font-family: "GothamRounded-Meduim";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/GothamRoundedMedium.ttf"), url('./assets/fonts/GothamRoundedMedium.eot');
}

@font-face {
  font-family: "MyriadPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/MyriadProRegular.ttf");
}

@font-face {
  font-family: "JannaLT-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/JannaLT-Regular.ttf");
}

/************* Start Reset Style *************/
* {
  box-sizing: border-box !important;
  outline: none;

}

a,
button {
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }
}

ul {
  list-style: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
  padding: 0;

}

body,
html {
  height: 100%;
}

/************* End Reset Style *************/

/************* Start Globel Style *************/
body {
  background-color: $mainBg;
  font-family: 'GothamRounded-Book';
  color: $main-color;
}

.container {
  @include flex-center(flex, center, center);
  padding: 5%;
  height: 100%;
}

.slimscroll-wrapper {
  height: auto !important;
}

.btn {
  @include btn (none, 80px, 32px, 36px, 'GothamRounded-Book', 14px, 14px);

  &.btn-success {
    @include btn-color($white-color, $light-success-color, $light-success-color);

    &:hover {
      box-shadow: 0 5px 11px 0 $light-success-color, 0 4px 15px 0 $light-success-bg;
    }
  }

  &.btn-primary {
    @include btn-color($white-color, $light-primary-color, $light-primary-color);

    &:hover {
      box-shadow: 0 5px 11px 0 $light-primary-color, 0 4px 15px 0 $light-primary-bg;
    }
  }
}

.btn-icon {
  @include flex-center(flex, center, center);
  @include btn-icon-style(50%, 32px, 32px, 18px);

  &.large {
    @include btn-icon-style(50%, 60px, 60px, 36px);
  }

  &.success {
    @include btn-color($light-success-color, $light-success-bg, $light-success-bg);

    &:hover {
      box-shadow: 0 5px 11px 0 $light-success-bg, 0 4px 15px 0 $light-success-bg;
    }

    &.dark {
      @include btn-color($success-color, $dark-success-bg, $dark-success-bg);

      &:hover {
        box-shadow: 0 5px 11px 0 $dark-success-bg, 0 4px 15px 0 $dark-success-bg;
      }
    }

  }

  &.fixed {
    @include position(absolute, auto, 0, -28px, 0, auto);
  }

  &.primary {
    @include btn-color($light-primary-color, $light-primary-bg, $light-primary-bg);

    &:hover {
      box-shadow: 0 5px 11px 0 $light-primary-bg, 0 4px 15px 0 $light-primary-bg;
    }
  }

  &.danger {
    @include btn-color($light-danger-color, $light-danger-bg, $light-danger-bg);

    &:hover {
      box-shadow: 0 5px 11px 0 $light-danger-bg, 0 4px 15px 0 $light-danger-bg;
    }
  }

  &.defult {
    @include btn-color($light-defult-color, $light-defult-bg, $light-defult-bg);

    &:hover {
      box-shadow: 0 5px 11px 0 $light-defult-bg, 0 4px 15px 0 $light-defult-bg;
    }
  }
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;

  .check-style {
    @include position(absolute, 0, auto, 0, auto, auto);
    @include dimintion(20px, 20px);
    @include check-style(20px, 20px, 0, 1.5px);
    background-color: $white-color;
    border-color: $border-color;
    box-shadow: 0px 3px 10px 0px $border-color;
    border-style: solid;
    display: block;
    margin: 0;
    cursor: pointer;
  }

  &.custom-style {
    input[type="checkbox"] {
      @include dimintion (32px, 32px);
    }

    .check-style {
      @include check-style(32px, 32px, 50%, 3px)
    }

  }

  input[type="checkbox"] {
    @include input-check(20px, 20px);

    &:disabled {
      cursor: not-allowed;

    }

    &~span.text {
      margin-left: 5px;
      font-size: 14px;
      line-height: 18px;
    }

    &:checked~span.text {
      opacity: 0.5;
    }

    &:checked~span.check-style {
      border-color: $input-checked-color;
      box-shadow: 0px 3px 10px 0px $input-checked-shadow;

      &::before {
        content: '';
        @include position(absolute, 0, 0, 0, 0, auto);
        @include dimintion(12px, 12px);
        background: url(./assets/images/checked.png) no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}

.label-control {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: "GothamRounded-Meduim";
}

.form-group {
  position: relative;
  margin-bottom: 25px;

  .validation {
    position: absolute;
    display: block;
    margin-top: 5px;
    margin: 5px;

    &.error {
      font-size: 12px;
      color: $light-danger-color;
    }
  }
}

.form-control {
  border: 1px solid $border-color;
  appearance: none;
  height: 36px;
  line-height: 36px;
  border-radius: 36px;
  padding: 0 15px;
  width: 100%;
  font-family: "GothamRounded-Meduim";

}

.modal {
  @include overlay($overlay-bg, $overlay-shadow);
  @include position (fixed, 0, 0, 0, 0, auto);
  @include flex-center (flex, center, center);

  .modal-dialog {
    margin: 0 5%;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      min-height: 50px;
      border-bottom: 1px solid $border-color;

      h3 {
        font-size: 16px;
      }
    }

    .modal-body {
      padding: 15px;
    }

    .modal-footer {
      padding: 15px;
      border-top: 1px solid $border-color;
      display: flex;
      justify-content: flex-end;
    }

    background: $white-color;
    width: 400px;
    min-height: 170px;
  }
}

.lang-container {
  display: block;
  @include position(absolute, 0, 0, auto, auto, auto);
  transition: all 0.15s ease-in-out;
  filter: drop-shadow(-1px 6px 3px rgba(137, 80, 252, 0.2));

  &:hover {
    filter: drop-shadow(-1px 6px 3px rgba(137, 80, 252, 0.33));

    .change-lang {
      width: 120px;

    }
  }

  .change-lang {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background: $dark-primary-color;
    color: $white-color;
    @include flex-center(flex, center, center);
    @include dimintion(100px, 36px);
    padding: 0 15px 0 30px;
    transition: all 0.15s ease-in-out;
    font-family: "MyriadPro-Regular";
    letter-spacing: 1.2px;
    font-size: 16px;
    text-transform: uppercase;
  }
}

@supports (-ms-ime-align: auto) {
  .lang-container {
    .change-lang {
      clip-path: unset !important;
      padding: 0 !important;
      width: 80px !important;
    }
  }
}

.toast-container {
  .ngx-toastr {
    box-shadow: 0px 6px 15px 0px rgba(207, 211, 218, 0.35);

    &:hover {
      box-shadow: 0px 6px 15px 0px rgba(207, 211, 218, 0.35);
    }

    height: 38px;
    font-size: 14px;
    background-size: 14px;
    padding: 10px 10px 10px 40px;

    &.toast-success {
      background-color: $light-success-color;
    }
  }
}



/************* End Globel Style *************/

@import './assets/scss/mobile.scss';
@import './assets/scss/style-ar.scss';
